<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/acd10584-8049-410d-a50e-174700ef5e8c/resourceGroups/assignment-5-info6250/providers/Microsoft.Web/sites/hw5-api-info6250</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://hw5-api-info6250.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>hw5-api-info6250.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hw5-api-info6250</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hw5-api-info6250</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>