<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/acd10584-8049-410d-a50e-174700ef5e8c/resourceGroups/info6250-hw5-server/providers/Microsoft.Web/sites/info6250-hw5-server</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://info6250-hw5-server.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>info6250-hw5-server.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>info6250-hw5-server</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$info6250-hw5-server</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>