<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/28acb2e5-b498-48a2-ba07-9e19eb111d75/resourceGroups/final-api/providers/Microsoft.Web/sites/Sneakerx-api-final</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://sneakerx-api-final.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>sneakerx-api-final.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Sneakerx-api-final</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Sneakerx-api-final</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>